<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi lista de películas</title>
  <link rel="stylesheet" href="/style/style.css">
</head>

<body>
  <header>
    <ul class="navbar">
      <li class="navbar"><a class="navbar" href="/home">Home</a></li>
      <li class="navbar"><a class="navbar" href="/movie-list">Movie List</a></li>
    </ul>
  </header>
  {{{body}}}
  <footer>Copyleft Mauro Schinca</footer>
</body>

</html>